@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* { box-sizing: border-box; }

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

html { font-size: 16px }

body {
    color: var(--cor-texto);
    font-family: 'Noto Sans';
    background-color: var(--cor-clara);
}

body, h1, h2, p, figure, nav ul {
    margin: 0;
    padding: 0;
}

/* deixar a imagem flexivel */
img { max-width: 100%; }

/* tirar o sublinhado dos links */
a { text-decoration: none; } 

h1 { 
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
}

h1 a {
    color: var(--cor-clara);
    background-color: var(--cor-escura);
    padding: 0.3rem 1rem;
    border-radius: 6px;
}

header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

nav h2 a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    /* background-color: olive; */
    padding: 1rem;
    display: inline-block;
}

nav h2 a:hover, nav h2 a:focus, .links-menu a:hover, .links-menu a:focus {
    background-color: var(--cor-intermediaria);
}

/* Estilos para a lista ul contida no nav */
.links-menu {
    list-style: none;
    /* Atenção: neste ponto, fazemos com que os links do menu iniciem escondidos (display: none). Posteriormente, com ajuda do CSS combinado com JS, faremos os controles para exibir/esconder de forma alternada. */
    display: none;
}

/* Estilos para o link contidos na ul dentro do nav */
.links-menu a {
     color: var(--cor-escura) ;
     font-weight: bold;
     display: flex;
     height: 50px;
     /* background-color: darkslategray; */
     align-items: center;
     justify-content: center; 
}


/* Regra que será aplicada somente quando o menu for acionado para abertura */
.links-menu.aberto {
    /* Ativando o flex fazemos com que os links voltem a aparecer.  */
    display: flex;
    /* Fazemos com que eles fiquem um em cima do outro (flex coluna) */
    flex-direction: column;
    /* Ativamos position:absolute e ajustamos a posição final dos links usando propriedades de coordenadas. */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara) ;
}

/* Exercícios 
1) Crie uma regra CSS para formatar o destaque com as seguintes configurações:

-Altura 500px
-Imagem de fundo (fundo-destaque)
-Imagem de fundo deve ficar parada 
-Flex com alinhamento totalmente centralizado, e um elemento em cima do outro (ou seja, use o modo coluna)

2) Crie uma regra CSS para formatar o h2 e o P contidos em Destaque. Faça com que os textos fiquem centralizados (text-align) e com cor clara.*/



.destaque { 
    height: 88vh;
    display: flex;
    flex-direction: column;
    background-image: url(../imagens/fundo-destaque.jpg);
    justify-content: center; 
    background-attachment: fixed;
    
    /* Versão 1: pode juntar cor e centro do texto dentro do próprio destaque. */
}
    
.destaque h2, .destaque p {
    color: var(--cor-clara);
    text-align: center;

    /* Etapa 2: aplicar a duração */
    animation-name: animaDestaque;
    animation-duration: 2s;

    /* Aceleração/Desaceleração 
    animation-timing-function    
    */
}


/* Versão 2: regras específicas para o h2 e para o P contidos em destaque

.destaque h2, .destaque p {
    color: var (--cor-clara);
    text-align: center;
}
*/

/* Sobre a função clamp() Função útil para redimensionamento responsivo de acordo com certos critérios. 

clamp(
    tamanhoMínimo
    tamanhoIdeal/Variável/Responsivo
    tamanhoMáximo
);*/

.destaque h2 {
    font-size: clamp(3rem, 10vw, 7rem);
}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 3rem);
}

/* Regra de animação */
@keyframes animaDestaque {
    /* Dê (estado inicial, como começa) */
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
 
    /* Para (estado final, como termina) */
    tp { opacity: 1; }
}

article h2 {
    padding: 1rem;
    font-size: 1.4rem;
    font-family: Raleway, sans-serif;
    color: var(--cor-titulo)
}

.front-end, .historia, .localizacao {
    text-align: center;
}

article p {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

/* por padrão a tag address vem em itálico, nas linhas abaixo, tiramos esse tipo de estilo. */
address {
    font-style: normal;
    font-size: 1.2rem;
}

/* Exercício dia 28/03/2024 */
.historia {
    height: 50vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* o cover é para fazer a imagem cobrir área, e ainda dá uma esticada na imagem. */
}

.historia h2 { 
    color: var(--cor-clara);
    text-shadow: 5px 5px 2px gray;
}

.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}

.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}

.limitador {
    width: 95vw;
    margin: auto;
}

footer {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 2rem;
    font-weight: bold;
}

/* Regras para as páginas Produtos, Serviços e Contato */

.conteudo {
    background-color: var(--cor-intermediaria);
    padding: 0.5rem;
    border-radius: 8px;
}

.conteudo h2 {
    padding-left: 0;
    font-size: 1.8rem;
    border-bottom: solid 1px;
    margin-bottom: 1rem;
}

table {
    border: solid 4px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    border-collapse: collapse;
    /* este border-collapse: collapse, tira a "duplicação" que cada célula faz ao colocar a borda. */
}

caption {
    text-transform: uppercase;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

th, td {
    border: solid 1px;
}

th {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    border-color: var(--cor-escura);
    padding: 0.8rem;
}
td {padding: 0.5rem;}

.tdias{
    text-align: center;
}

.tvalor{
    text-align: right;
}

/* pseudo-classe :nth-child(odd) são pares */
tr:nth-child(odd){
    background-color: var(--cor-clara);
}